.sidenav {
  background-color: #111;
  padding-top: 20px;
  position: fixed;
  height: 100%;
}

.side-container {
  margin-right: 8rem;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: #818181;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}