.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.filter-container {
  margin-bottom: 2rem;
}

.table-container {
  height: 40rem;
  width: 78%;
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.red {
  color: red;
}

.button-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.create-container {
  margin-left: auto;
  margin-right: auto;
}

.add-button a {
  text-decoration: none;
  background-color: green;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.form-select {
  padding-right: 7.2rem;
}

.create-button {
  width: 10.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: green;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.white {
  color: white;
}

.pl-4 {
  padding-left: 1rem;
}