.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.table-container {
  height: 40rem;
  width: 78%;
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.red {
  color: red;
}