.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.table-container {
  height: 40rem;
  width: 78%;
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.red {
  color: red;
}

.button-transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.create-container {
  margin-left: auto;
  margin-right: auto;
}

.add-button a {
  text-decoration: none;
  background-color: green;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}