.home-container {
  width: 100%;
  text-align: center;
}

.logo-img {
  width: 30rem;
}

.home-menu {
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    padding: 1rem;
    border: 0.1rem black solid;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: black;
    background: #5f7b61;
  }
}